<!-- Extending the project layout, as this file will do minor customizations -->
{% extends "layouts/project.html" %}

<!-- Setting up variables to customize "project" details to be specific to kangaroos -->
{% set project = "Kaiden the Kangaroo" %}
{% set overview = "https://kaiden-dough.github.io/fastpages/" %}
{% set scrumboard = "https://github.com/kaiden-dough/lawnmowers-flask-repo" %}
{% set repo = "https://github.com/kaiden-dough/fastpages" %}
{% set authors = "https://kaiden-dough.github.io/fastpages/about/"  %}
{% set github = "https://github.com/kaiden-dough" %}
{% set twitter = "https://twitter.com/kaiden_d0" %}
{% set youtube = "https://www.youtube.com/channel/UCAj00TsaBIGnMXLcWu1ytyQ?sub_confirmation=1" %}

<!-- Setting up a block replacement to customize background to RINGS -->
{% block background %}
    <script src="{{ url_for('static', filename='js/three.r119.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vanta.halo.min.js') }}"></script>
    <script>
        VANTA.HALO({
            el: "body",
            mouseControls: true,
            touchControls: true,
            gyroControls: false,
            minHeight: 200.00,
            minWidth: 200.00
        })
    </script>
{% endblock %}