{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>the life of chris</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/chris1.png') }}" alt="Python Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">What should <mark>Student Developers learn</mark>?</h5>
                    <p class="card-text">
                        <ol>
                            <li>This is Chris. He is kinda stupid</li>
                            <li>He kinda tall</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/chris2.png') }}" alt="Flask Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">What is <mark>6 4</mark>? Look at this dude?</h5>
                    <p class="card-text">
                        <ol>
                            <li>Pic goes hard</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/chris3.png') }}" alt="Backend and Persistence" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Chris with muscles?</h5>
                    <p class="card-text">
                        <ol>
                            <li>hehehehehe</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}