{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>The Main Lawn</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/python.jpeg') }}" alt="Python Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">What is a<mark>Lawnmower</mark>? What does it do?</h5>
                    <p class="card-text">
                        <ol>
                            <li>A Lawnmower is a type of modern technology that cuts grass.</li>
                            <li>Fun Fact: There are many different types of lawnmowers</li>
                            <li>Sitting: This type allows you to sit down on the mower for maximum movement and rest</li>
                            <li>Walking: Feeling active? Feel free to walk around your hard and get to cutting while walking</li>
                            <li>Power: Specializes in cutting down thick weeds and all types of rugged grass</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/flask.png') }}" alt="Flask Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Who invented the Lawnmower</h5>
                    <p class="card-text">
                        <ol>
                            <li>Edwin Beard Budding was the inventor of the mower</li>
                            <li>When: 1830</li>
                            <li>Where: Gloucestershire, England</li>
                            <li>Why: To cut grass!</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/pythondb.png') }}" alt="Backend and Persistence" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Why the theme of lawnmowers?</h5>
                    <p class="card-text">
                        <ol>
                            <li>It was the first thing that popped into Kaiden's head</li>
                            <li>Why? We don't know, Kaiden is uh creative</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}